CacheControl>=0.12.6
requests>=2.23.0
requests-futures>=1.0.0
# Updates to Zarr to implement the getitems method proposed in https://github.com/zarr-developers/zarr-python/issues/536
zarr @ git+https://github.com/bilts/zarr-python.git@aff8eec3010acbb76746e48a085b93eed67aa799#egg=zarr